<div class="certi">
    <div class="box-title">
        <img src="images/cohonor/01.png" alt="企业荣誉">
    </div>
    <div class="box-content">
        <ul class="clearfix">
            <% for(var i=0;i< data.coHonor.length; i++){ %>
            <li class="certi-box fl clearfix">
                <div class="img-box fl">
                    <img src="images/cohonor/<%= data.coHonor[i].src %>" alt="certi">
                </div>
                <div class="certi-info fl">
                    <h3><%= data.coHonor[i].name %></h3>
                    <p><%= data.coHonor[i].txt %></p>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>