.box1 {
  .box-title {
    padding-top: 74px;
    padding-bottom: 54px;
    text-align: center
  }
  .box-content {
    padding: 52px 156px;
    background-color: #ecf0f1;
    text-align: center;
    p {
      font-size: 14px;
      color: #333;
      line-height: 26px;
      font-family: "Microsoft YaHei";
    }
  }
}