<div class="box1">
    <div class="box-title">
        <img src="images/index/aboutus.png" alt="关于我们">
    </div>
    <div class="box-content">
        <% for(var i=0; i<data.indexData.box1Data.length; i++){ %>
        <p><%= data.indexData.box1Data[i] %></p>
        <% } %>
    </div>
</div>