<div class="box1">
    <div class="box-title" align="center">
        <img src="images/index/t01.jpg" alt="公司简介">
    </div>
    <div class="box-content">
        <div class="txt-box">
            <% for(var i=0; i<data.indexData.box1.length; i++){ %>
            <p class="txt"><%= data.indexData.box1[i] %></p>
            <% } %>
        </div>
        <div class="img-box" align="center">
            <img src="images/index/f01.jpg" alt="集团官网">
        </div>
    </div>
</div>