<div class="box1" align="center">
    <div class="box-title">
        <img src="images/index/t01.png" alt="">
    </div>
    <div class="box-content">
        <% for(var i=0; i<data.indexData.box1.length; i++){ %>
        <p><%= data.indexData.box1[i] %></p>
        <% } %>
    </div>
</div>