<div class="box1">
    <div class="box-title" align="center">
        <img src="images/index/t01.png" alt="关于我们">
    </div>
    <div class="box-content">
        <div class="txt-box" align="center">
            <p class="txt"><%= data.indexData.box1 %></p>
        </div>
    </div>
</div>