<div class="box2">
    <div class="box-title" align="center">
        <img src="images/index/t02.png" alt="企业文化">
    </div>
    <div class="box-content clearfix">
    <% for(var t=0; t<data.indexData.box2.length; t++){ %>
        <div class="list-box fl">
            <div class="img-box">
                <img src="images/index/<%= data.indexData.box2[t].src %>" alt="">
            </div>
            <div class="txt-box">
                <p><%= data.indexData.box2[t].txt %></p>
            </div>
        </div>
    <% } %>
    </div>
</div>