<!Doctype html>
<html lang="en">
<head>
    <title>中海微银</title>
    <meta charset="UTF-8">
    <meta name="Generator" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta content="中海微银" name="description" />
    <meta name="keywords" content="" />
    <meta name="Author" content="">
    <link rel="stylesheet" href="vendor/normalize-css/normalize.css" />
    <link rel="stylesheet" href="styles/<%= data.filename%>.css">
    <% /*jquery.js*/ %>
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="js/bundle.js"></script>
    <script src="vendor/jquery.nicescroll.min.js"></script>
</head>


