<div class="box4"  align="center">
    <a href="http://www.51jrq.com/vita/company/870002" class="deliver">
        <img src="images/deliver.png" alt="立即投递">
    </a>
    <div class="Subscribe">
        <a href="javascript:void(0)">订阅该类型邮件</a>
        <a href="javascript:void(0)">退订邮件</a>
    </div>
</div>