.qC {
  .intro-text {
    .remark {
      width: 568px;
      h3 {
        margin: 42px 0 30px 0;
        line-height: 36px;
        font-size: 24px;
        color: #724e3f;
        font-family: 'PingFangSC Bold',"Microsoft YaHei";
      }
      p {
        line-height: 30px;
        font-size: 18px;
        color: #666;
        font-family: 'PingFangSC Regular',"Microsoft YaHei";
      }
    }
  }
}