//Created by juanl on 2017/7/14.
.box2
    .title-unit
        img(src="images/title.png")
        | 分享会
        span.inline-block .
        | #{locals.box2.title}
    .box-content
        p #{locals.box2.txt}