//Created by juanl on 2017/7/14.
.box3
    .title-unit
        img(src="images/title.png")
        | 分享会
        span.inline-block .
        | #{locals.box3.title}
    .box-content.clearfix
        .pull-left.box-pic
            img(src = "images/portrait.png")
            .txt-box
                p.name 韩芳
                p.info 51金融圈创始人
        .pull-left.pe-honor
            .stitle1 #{locals.box3.stitle1}
            .short-line
            .stitle2 #{locals.box3.stitle2}
            .box-txt #{locals.box3.txt}