//Created by juanl on 2017/8/18.
.box6
    .title-unit
        img(src="images/title.png")
        | 分享会
        span.inline-block .
        | #{locals.box6.title}
    .box-content
        p #{locals.box6.txt}