//Created by juanl on 2017/8/18.
.box7
    .img-box.table
        .table-cell
            img(src="images/txt.png")
        .table-cell
            img(src="images/qrcode.png")
        .table-cell
            p.up 微信扫码 · 了解活动圈最新活动
            p.down 简历信息及招聘进程一目了然
            ul
                li
                    img(src="images/phone.png")
                    span 打开手机微信
                li
                    img(src="images/scan.png")
                    span 点击右上方扫一扫
