<% include head.ejs %>
<body>
    <div class="wrapper">
        <% include box1.ejs %>
        <% include box2.ejs %>
        <div class="inner">
            <% include box3.ejs %>
            <% include box4.ejs %>
        </div>
        <% include box5.ejs %>
    </div>
</body>
</html>