<% include ../includes/head.ejs%>
<body>
    <!--topbar-->
    <div class="wrapper">
        <% include ../includes/topbar.ejs %>
    </div>
    <div class="wrapper">
        <% include box1.ejs %>
    </div>
</body>