<div class="box1">
    <div class="box-title" align="center">
        <img src="images/index/t01.jpg" alt="公司简介">
    </div>
    <div class="box-content clearfix">
        <div class="txt-box fl">
            <%= data.indexData %>
        </div>
        <div class="img-box fl">
            <img src="images/index/01.jpg" alt="公司简介">
        </div>
    </div>
</div>