<div class="box2" align="center">
    <div class="box-title">
        <img src="images/index/t02.jpg" alt="公司文化">
    </div>
    <div class="box-content">
        <img src="images/index/02.jpg" alt="公司文化">
    </div>
</div>