<div class="box2">
    <div class="toptitle">
        <img src="images/authority/02.png" alt="领导">
    </div>
    <div class="wrapper">
        <ul class="clearfix">
            <% for(var i=0;i<data.coAuthority.box2.length;i++){ %>
            <li class="r02"><img src="images/authority/<%= data.coAuthority.box2[i] %>" alt="管理"></li>
            <% } %>
        </ul>
        <div class="chart-pie"></div>
    </div>
</div>