<% include ../includes/head.ejs %>
<body>
    <div class="wrapper">
        <!--topbar-->
        <% include ../includes/topbar.ejs %>
    </div>
    <% include ../includes/banner.ejs %>
    <div class="wrapper">
        <!--领导团队-->
        <% include box1.ejs %>
    </div>
    <% include box2.ejs %>
    <div class="wrapper">
        <!--核心团队-->
        <% include box3.ejs %>
    </div>
    <% include ../includes/footer.ejs %>
    <script src="vendor/echarts.min.js"></script>
    <script src="js/coreTeam.js"></script>
</body>
</html>
