<div class="list">
    <div class="box-title">
        <img src="images/adv/t01.jpg" alt="">
    </div>
    <div class="box-content" align="center">
        <div class="txt-box">
            <%= data.advData %>
        </div>
        <div class="img-box">
            <img src="images/adv/001.jpg" alt="">
        </div>
    </div>
</div>