<% include ../includes/head.ejs %>
<body>
    <div class="wrapper">
        <!--topbar-->
        <% include ../includes/topbar.ejs %>
    </div>
    <% include ../includes/banner.ejs %>
    <div class="wrapper">
        <!--关于我们-->
        <% include box1.ejs %>
        <% include box2.ejs %>
    </div>
    <!--新城金融大记事-->
    <% include box3.ejs %>
    <% include ../includes/footer.ejs %>
</body>
</html>