<div class="box1">
    <div class="box-title" align="center">
        <img src="images/index/t01.jpg" alt="安联保险">
    </div>
    <div class="box-content clearfix">
        <div class="img-box fl">
            <img src="images/index/r01.jpg" alt="关于安联">
        </div>
        <div class="txt-box fl">
            <p class="txt-head"><%= data.indexData.title %></p>
            <p class="txt-body"><%= data.indexData.txt %></p>
        </div>
    </div>
</div>