<div class="box2">
    <div class="box-title" align="center">
        <img src="images/index/t02.jpg" alt="企业文化">
    </div>
    <div class="box-content">
        <img src="images/index/bg01.jpg" alt="企业愿景">
    </div>
</div>