.joinUs {
  .joinUs-bg {
    position: relative;
    .button-link {
      display: block;
      width: 118px;
      height: 32px;
      position: absolute;
      left: 461px;
      bottom: 46px;
    }
  }
}