.teamLeader {
  .content {
    margin-left: 36px;
    max-width: 770px;
    color: #959595;
    h3 {
      padding: 17px 0 28px 0;
      font-size: 22px;
      line-height: 22px;
    }
    p {
      line-height: 30px;
      margin-bottom: 32px;
    }
  }
}