.box1 {

  .box-content {
    .row-level {
      &:first-child {
        margin-bottom: 30px;
      }
      .txt-box {
        width: 552px;
        font-size: 14px;
        color: #333;
        line-height: 28px;
      }
      .img-box {
        margin-left: 78px;
        margin-top: -38px;
      }
    }
  }
}