<div class="ourQuality">
    <div class="toptitle">
        <img src="images/index/02.png" alt="加入我们">
    </div>
    <div class="cards" style="text-align: center">
        <img src="images/index/04.png" alt="证书">
    </div>
</div>