<% include head.ejs %>
<body>
<div class="wrapper">
    <!--logo和导航-->
    <% include ../includes/topbar.ejs %>
</div>
<!--banner-->
<% include ../includes/banner.ejs %>
<div class="wrapper">
    <% include jobInfo.ejs %>
</div>
<!--footer-->
<% include ../includes/footer.ejs %>
<% /*jquery.js*/ %>
<script src="vendor/jquery/jquery.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>

