//Created by juanl on 2017/7/14.
doctype html
html(lang = "en")
    include includes/head
    body
        include components/banner
        .wrapper
            include components/box1
            include components/box2
            include components/box3
            include components/box4
            include components/box5
            include components/box6
            include components/box7
