<div class="form-succ" id="form-succ">
    <div class="icon-gou">
        <img src="img/gou.png" alt="信息提交成功">
        <h3>信息提交成功</h3>
    </div>
    <p>您的信息已成功提交到公司后台，我们会尽快安排专业顾问与您联系，非常感谢您的配合，祝您生活愉快！</p>
</div>