<div class="cube online-consult">
    <p>在线</p>
    <p>咨询</p>
    <div class="right-alert">
        <div class="header">
            客服QQ及电话
        </div>
        <ul class="body">
            <li>
                <div>
                    <label class="inline-block">在线交谈<i></i></label>：
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2793554017&site=qq&menu=yes">
                        <span class="inline-block icon-qqtalk"></span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <label class="inline-block">客服电话<i></i></label>：
                    <span class="inline-block">400-885-6112</span>
                </div>
            </li>
            <li>
                <div>
                    <label class="inline-block">服务时间<i></i></label>：
                    <span class="inline-block">09：00-18：00</span>
                </div>
            </li>
        </ul>
    </div>
</div>