<% include ../components/head.ejs %>
<body>
    <% include form-fill.ejs %>
    <% include form-succ.ejs %>
    <div class="page-right">
        <% include busi-speak.ejs %>
        <% include online-consult.ejs %>
        <% include opinion-response.ejs %>
        <% include qrcode.ejs %>
        <% include gotop.ejs %>
    </div>
<script src="js/layui.js"></script>
<script src="js/require.js" data-main="js/page-fixed-plugins"></script>
</body>
</html>