<div class="coInfo">
    <div class="toptitle">
        <img src="images/index/01.png" alt="集团简介">
    </div>
    <div class="coInfo-txt">
        <% for(var i=0; i<data.indexData.coInfo.length; i++){ %>
            <p><%= data.indexData.coInfo[i] %></p>
        <% } %>
    </div>
</div>