<% include head.ejs %>
<body>
    <div class="wrapper">
        <!--topbar-->
        <% include ../includes/topbar.ejs %>
    </div>
    <% include ../includes/banner.ejs %>
    <div class="wrapper">
        <!--集团介绍-->
        <% include coInfo.ejs %>
        <!--团队领导-->
        <% include teamLeader.ejs %>
        <!--加入我们-->
        <%include joinUs.ejs %>
    </div>
    <% include ../includes/footer.ejs %>
</body>
</html>