<div class="joinUs">
    <div class="toptitle">
        <img src="images/index/03.png" alt="加入我们">
    </div>
    <div class="joinUs-bg">
        <img src="images/index/handshake.png" alt="握手图片">
        <a href="joinUs.html" class="button-link"></a>
    </div>
</div>