.honor {
  .honor-txt {
    .honorlist {
      .col-1 {
        width: 176px;
        height: 1px;
      }
      .col-2 {
        position: relative;
        padding-left: 26px;
        padding-bottom: 52px;
        max-width: 800px;
        border-left: 2px solid #e55217;
        .lc-icon {
          position: absolute;
          top: 16px;
          left: -15px;
          display: block;
          width: 28px;
          height: 28px;
          background: url(../images/coHonor/circle.png);
        }
        h3 {
          font-size: 24px;
          color: #454545;
          line-height: 30px;
          font-weight: bold;
        }
        p {
          font-size: 24px;
          color: #454545;
          line-height: 30px;
        }
      }
    }
  }
}