<table  width="960" cellpadding="0" cellspacing="0" border="0" align="center">
    <tbody>
        <tr>
            <td height="30" bgcolor="#fff"></td>
        </tr>
        <tr>
            <td style="font-size:40px;font-weight:bold;color:#454545;" bgcolor="#fff" align="center">您好:</td>
        </tr>
        <tr>
            <td style="font-size:30px;font-weight:bold;color:#454545;" bgcolor="#fff" align="center">这里是最新的<span style="color:#f9a226;">金融行业</span>相关职位，不要错过机会，快来看看吧！</td>
        </tr>
        <tr>
            <td height="20" bgcolor="#fff"></td>
        </tr>
    </tbody>
</table>