<table  width="960" ellpadding="0" cellspacing="0"  border="0" align="center" bgcolor="#ededed">
    <tbody>
        <tr>
            <td align="center" style="font-size: 22px;color:#545454;font-family: 'Microsoft YaHei'">
                聚焦金融行业，专注造就专业，共筑双赢平台<a href="http://www.51jrq.com" style="padding:0 20px;text-decoration: none;color: #0681ff;" >www.51jrq.com</a><span style="color:#f9a226;">021-60159393</span>
            </td>
        </tr>
    </tbody>
</table>