<% include head.ejs %>
<body>
    <div class="wrapper">
        <!--logo和导航-->
        <% include ../includes/topbar.ejs %>
    </div>
    <!--banner-->
    <% include ../includes/banner.ejs %>
    <div class="wrapper">
        <!--页面主体内容-->
        <!--关于我们-->
        <% include aboutUs.ejs %>
        <!--企业领导-->
        <% include leadership.ejs %>
        <!--社会荣誉-->
        <% include socialHonor.ejs %>
        <!--加入我们-->
        <% include joinUs.ejs %>
    </div>
    <!--footer-->
    <% include ../includes/footer.ejs %>

    <script src="js/bundle.js"></script>
</body>
</html>
