<div class="list" align="center">
    <div class="box-title">
        <img src="images/adv/t01.jpg" alt="">
    </div>
    <div class="box-content">
        <img src="images/adv/content.jpg" alt="">
    </div>
</div>