<% include head.ejs %>
<body>
<div class="wrapper">
    <!--topbar-->
    <% include ../includes/topbar.ejs %>
</div>
<% include ../includes/banner.ejs %>
<div class="wrapper">
    <!--招贤纳士-->
    <% include talentsWanted.ejs %>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>