.topbar {
  .topbar-inner {
    margin: 0 auto;
    height: 80px;
    font-size: 0;
    .logo {

    }
    .nav {
      height: 80px;
      line-height: 80px;
      ul li {
        float: left;
        font-size: 16px;
        font-family: "Microsoft YaHei";
        a {
          padding: 0 25px;
          color: #444;
          border-left: 1px solid #444;
        }
        &:first-child {
          a {
            border-left: none;
          }
        }
        &.active{
          a {
            color: #b5261f;
          }
        }
      }
    }
  }
}