<% include ../includes/head.ejs %>
<body>
<% include ../includes/topbar.ejs %>
<% include banner.ejs %>
<div class="wrapper">
    <% include company.ejs %>
    <% include contact.ejs %>
</div>
<% include panel.ejs %>
<% include ../includes/footer.ejs %>
</body>
</html>