<div class="business">
    <div class="box-title" align="center">
        <img src="images/mien/t01.jpg" alt="公司业务">
    </div>
    <div class="box-content">
        <% for(var i=0; i<data.mienData.length; i++){ %>
        <div class="domain">
            <% for(var j=0; j<data.mienData[i].length; j++){ %>
            <% if(j==0&&i==0){ %>
            <div class="img-box first-img-box">
            <% }else{ %>
            <div class="img-box">
            <% } %>
                <img src="images/mien/<%= data.mienData[i][j]%>" alt="业务">
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
</div>