<div class="box1" align="center">
    <div class="top-title" >
        <img src="images/index/01.png" alt="关于我们">
    </div>
    <div class="content-box">
        <% for(var i=0; i< data.indexData.box1.length; i++){ %>
        <p><%= data.indexData.box1[i] %></p>
        <% } %>
    </div>
</div>