<div class="box2" align="center">
    <div class="top-title" >
        <img src="images/index/02.png" alt="公司产品">
    </div>
    <div class="content-box">
        <% for(var i=0; i<data.indexData.box2.length; i++){ %>
        <div class="img-box">
            <img src="images/index/<%= data.indexData.box2[i] %>" alt="">
        </div>
        <% } %>
    </div>
</div>