//Created by lollipop 2018/1/11
.busi-speak {
  .right-alert {
    position: absolute;
    z-index: -1;
    top: -1px;
    left: 0;
    display: none;
    width: 220px;
    height: 50px;
    padding-left: 45px;
    transition: all 0.2s;
    background-image: url(../img/tel.png);
    background-repeat: no-repeat;
    background-position: 10% center;
    border: 1px solid #d8d7d7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-color: transparent;
    background-color: #fff;
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    color: #333;
  }
  //&:hover {
  //  .right-alert {
  //    display: block;
  //    left: -220px;
  //  }
  //}
}