//Created by lollipop 2018/1/11
.page-form-wrapper {
  min-width: 530px;
  .layui-layer-title {
    padding-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    text-align: center;
    font-size: 24px;
    color: #1296db;
  }
  .layui-layer-setwin {
    right: 6px;
    top: 6px;
    a {
      width: 15px;
      height: 15px;
    }
    .layui-layer-ico {
      background: url(../img/exit.png) no-repeat;
    }
  }
  .form-fill {
    display: block;
    margin: 18px 35px;
    .info {
      margin-bottom: 20px;
      font-size: 14px;
      color: #666;
      line-height: 24px;
    }
    form {
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #d2d2d2;
        opacity:1;
      }

      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #d2d2d2;
        opacity:1;
      }

      input:-ms-input-placeholder{
        color: #d2d2d2;
        opacity:1;
      }

      input::-webkit-input-placeholder{
        color: #d2d2d2;
        opacity:1;
      }

      textarea:-ms-input-placeholder{
        color: #d2d2d2;
        opacity:1;
      }

      textarea::-webkit-input-placeholder{
        color: #d2d2d2;
        opacity:1;
      }

      .layui-form-label {
        width: 100px;
        .asterisk {
          color: #f53232;
        }
      }
      .layui-input,
      .layui-textarea {
        border-radius: 5px;
      }
      .layui-input-block {
        margin-right: 30px;
        .submit-btn {
          margin-left: 20%;
          img {
            width: 120px;
            height: 36px;
          }
        }
      }
    }
  }
}
