<div class="footer">
    <div class="footer-inner clearfix">
        <div class="bg-pic"></div>
        <div class="foot-box clearfix">
            <div class="fl">
                <img src="images/tel.png" alt="电话">
                <span>客服热线：</span>
                <em>400-885－6112</em>
            </div>
            <div class="fr">
                <a href="http://vita.51jrq.com/vita/sitemap">网站地图</a><b>|</b>
                <a href="http://vita.51jrq.com/vita/contact">联系我们</a><b>|</b>
                <a href="http://vita.51jrq.com/mobile/promote/promote.html">51金融圈APP</a>
            </div>
        </div>
        <h4> &copy;2014 51jrq.com&nbsp;沪ICP备10213565号-1</h4>
    </div>
</div>