<% include ../includes/head.ejs%>
<body>
<!--topbar-->
<div class="wrapper">
    <% include ../includes/topbar.ejs %>
</div>
<!--banner-->
<% include ../includes/banner.ejs %>
<% include pros.ejs %>
<% include ../includes/footer.ejs %>
</body>