<div class="footer">
    <div class="footer-inner">
        <div class="footer-info  clearfix">
            <ul>
                <% for(var i=0; i< data.footerData.length; i++){ %>
                <li class="fl">
                    <span><%= data.footerData[i].name %></span>
                    <span><%= data.footerData[i].txt %></span>
                </li>
                <% } %>
            </ul>
        </div>
        <p> ©2014 51jrq.com 沪ICP备10213565号-1 Web designed by: 海擎金融信息服务（上海）有限公司</p>
    </div>
</div>