<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <title>云招聘</title>
    <link rel="stylesheet" href="vendor/normalize-css/normalize.css" />
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="vendor/jquery-city-picker/css/city-picker.css" rel="stylesheet">
    <link href="vendor/jquery-city-picker/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="styles/<%= data.filename %>.css">

    <!--jquery-->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.nicescroll.min.js"></script>

    <script src="vendor/jquery-city-picker/js/city-picker.data.js"></script>
    <script src="vendor/jquery-city-picker/js/city-picker.js"></script>
    <script src="vendor/jquery-city-picker/js/main.js"></script>

    <script src="js/signin.js"></script>
    <script src="js/bundle.js"></script>
</head>