.box2 {
  .box-content {
    padding: 0 110px 115px;
    .list-box {
      width: 185px;
      text-align: center;
      .txt-box {
        margin-top: 45px;
        height: 136px;
        border-left: 1px solid #868686;
        p {
          width: 141px;
          margin: 0 auto;
          font-size: 14px;
          line-height: 24px;
          color: #868686;
        }
      }
      &:first-child {
        .txt-box {
          border-left: none;
        }
      }
    }
  }
}