<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Author" content="lollipop">
    <title><%= data.filename %></title>
    <link rel="stylesheet" href="css/<%= data.filename%>.css">
    <link rel="stylesheet" href="css/layui.css">
</head>