.service {
   margin: 0 auto;
  text-align: center;
  .list {
    margin: 81px 0  110px 180px;
    li {
      width: 130px;
      margin-left: 112px;
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      .img-box {
        height: 130px;
      }
    }
  }
}
