.box2 {
  .box-content {
    li {
      padding-bottom: 36px;
      width: 394px;
      margin-left: 55px;
      .txt-box {
        margin-top: 26px;
        margin-bottom: 26px;
        font-size: 14px;
        color: #333;
        line-height: 24px;
      }
    }
  }
}