.footer {
  margin-top: 56px;
  background-color: #7f8081;
  position: relative;
  .bg-pic {
    position: absolute;
    z-index: -5;
    bottom: 91px;
    height: 456px;
    width: 1366px;
    background: url(../images/bottom.png) no-repeat;
  }
  .footer-inner {
    margin: 0 auto;
    width: $content-width;
    height: 91px;
    .foot-box {
      padding-top: 15px;
      .fl {
        img {
          vertical-align: bottom;
          margin-right: 12px;
        }
        span {
          font-size: 16px;
          color: #fff;
          font-family: 'Microsoft YaHei';
        }
        em {
          font-size: 21px;
          color: #ff971c;
          font-family: 'Microsoft YaHei';
        }
      }
      .fr {
        padding-top: 18px;
        a {
          color: #fff;
          font-size: 12px;
          font-family: 'Microsoft YaHei';
        }
        b {
          color: #fff;
          font-size: 12px;
          margin: 0 30px;
          font-family: 'Microsoft YaHei';
        }
      }
    }
  }
  h4 {
    text-align: right;
    font-size: 12px;
    line-height: 38px;
    color: #f2f2f2;
    font-family: 'Microsoft YaHei';
  }
}