.box1 {

  .box-content {
    .txt-box {
      max-width: 504px;
      font-size: 14px;
      color: #666;
      line-height: 24px;
    }
    .img-box {
      margin-left: 55px;
      margin-top: -70px;
    }
  }
}