<% include head.ejs %>
<body>
    <div class="wrapper">
        <!--topbar-->
        <% include ../includes/topbar.ejs %>
    </div>
    <% include ../includes/banner.ejs %>
    <div class="wrapper">
        <!--发展历程-->
        <% include history.ejs %>
    </div>
    <% include ../includes/footer.ejs %>
</body>
</html>
