<% include head.ejs %>
<body>
<div class="wrapper">
    <!--topbar-->
    <% include ../includes/topbar.ejs %>
</div>
<% include ../includes/banner.ejs %>
<div class="pagebox">
    <div class="wrapper">
        <!--领导团队-->
        <% include leader.ejs %>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>