<div class="thinking">
    <div class="title-top">
        <h2>业务板块</h2>
        <h3>galaxy world business</h3>
    </div>
    <div class="box-content">
        <img src="images/business/business.png" alt="">
    </div>
</div>