.indResearch {
  .content-box {
    padding: 0 200px;
    li:first-child {
      margin-right: 110px;
    }
    .img-box {
      width: 214px;
      height: 300px;
    }
    .txt-box {
      width: 214px;
      text-align: center;
    }
  }
}