.leader {
  .row-2 {
    margin-top: 42px;
    .piclist {
      height: 626px;
      &:nth-child(even) {
        padding: 0 24px;
        margin: 0 24px;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
      }
    }
  }
}