<% include head.ejs%>
<body>
<!--topbar-->
<div class="wrapper">
    <% include ../includes/topbar.ejs %>
</div>
<!--banner-->
<% include ../includes/banner.ejs %>
<div class="wrapper">
    <% include thinking.ejs %>
</div>
<% include ../includes/footer.ejs %>
</body>