.box3 {
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto;
  padding: 2px 10px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  ul{
    .wrap-list {
      padding-bottom: 10px;
      border-bottom: 1px dashed #dbdbdb;
    }
    .title {
      display: table;
      padding: 12px 0;
      .posi,
      .salary {
        display: table-cell;
        font-size: 18px;
        font-size: 1.875rem;
        color: #454545;
      }
      .salary {
        padding-left: 10px;
        color: $fontcolor;
      }
    }
    ul {
      .duty {
        font-size: 15px;
        font-size: 1.5rem;
        color: #545454;
        span {
          margin-right: 5px;
        }
      }
    }
  }
  .logo {
    padding: 6px 2px;
    display: table;
    img {
      @media screen and (min-width: 414px){
        height: 63px * $scale;
      }
      @include respond-to(sm){
        width: 100%;
      }
    }
    div {
      display: table-cell;
      &:first-child {
        padding-right: 12px;
      }
      &.stock-code {
        height: 63px * $scale;
        vertical-align: middle;
        border-left: 1px solid #ccc;
        padding-left: 8px;
        font-size: 18px;
        font-size: 1.875rem;
        color: #949494;
      }
    }
  }
}