.box5 {
  font-size: 12px;
  font-size: 1.375rem;
  .usual {
    color: #545454;
  }
  a {
    text-decoration: underline;
    color: #0681ff;
    padding: 0 10px;
  }
  .theme {
    color: #f6b76d;
  }
}