<div class="box1">
    <div class="box-title">
        <img src="images/index/01.png" alt="关于我们">
    </div>
    <div class="box-content clearfix">
        <div class="txt-box fl">
            <% for(var i=0; i<data.indexData.box1.length; i++){ %>
            <p><%= data.indexData.box1[i] %></p>
            <% } %>
        </div>
        <div class="img-box fl">
            <img src="images/index/r101.png" alt="">
        </div>
    </div>
</div>