.business {
  .box-content {
    padding: 0 80px 50px;
    font-size: 0;
    .domain {
      display: table;
      margin-bottom: 50px;
    }
    .img-box {
      display: table-cell;
      img {
        vertical-align: middle;
      }
      padding-left: 60px;
      &:first-child {
        padding-left: 0;
      }
    }
    .first-img-box {
      padding-left: 22px !important;
    }
  }
}