<% include ../includes/head.ejs %>
<body>
<% include ../includes/topbar.ejs %>
<% include banner.ejs %>
<div class="wrapper">
    <% include service.ejs %>
</div>
<% include best.ejs %>
<% include ../includes/footer.ejs %>
</body>
</html>