<!Doctype html>
<html lang="en">
<head>
    <title>社会责任</title>
    <meta charset="UTF-8">
    <meta name="Generator" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta content="致力打造中国金融信息服务 第一品牌" name="description" />
    <meta name="keywords" content="社会责任" />
    <meta name="Author" content="">
    <link rel="stylesheet" href="vendor/normalize-css/normalize.css" />
    <link rel="stylesheet" href="styles/socialDuty.css">
    <% /*jquery.js*/ %>
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="js/bundle.js"></script>
</head>


