<div class="box1">
    <div class="box-title">
        <span class="title-01">关于我们</span>
        <b>|</b>
        <span class="title-02">about us</span>
    </div>
    <div class="box-content clearfix">
        <div class="txt-box fl">
            <p><%= data.indexData.box1Data.txt %></p>
        </div>
        <div class="img-box fl">
            <img src="images/index/<%= data.indexData.box1Data.src %>" alt="钜派投资集团">
        </div>
    </div>
</div>