<div class="box2">
    <div class="box-content">
        <div class="text-box">
            <% for(var i =0; i<data.indexData.box2Data.length; i++){ %>
            <p><%= data.indexData.box2Data[i] %></p>
            <% } %>
        </div>
    </div>
</div>