<!Doctype html>
<html lang="en">
<head>
    <title>炬时以待，财智起航</title>
    <meta charset="UTF-8">
    <meta name="Generator" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta content="钜派投资尽心尽责的财富管理专家" name="description" />
    <meta name="keywords" content="" />
    <meta name="Author" content="">
    <link rel="stylesheet" href="vendor/normalize-css/normalize.css" />
    <link rel="stylesheet" href="styles/<%= data.filename%>.css">
    <% /*jquery.js*/ %>
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="js/bundle.js"></script>
    <script>
        $(document).ready(function(){
            var scale = $(window).width() / 1366;
            $('.banner').height(386*scale);
            $('.banner .pic-bg').height(386*scale);
            $('.banner').css({
                display: 'block'
            })
        })
    </script>
</head>


