<div class="box1">
    <div class="box-title">
        <img src="images/index/t01.jpg" alt="">
    </div>
    <div class="box-content">
        <div class="row-level clearfix">
            <div class="txt-box fl">
                <%= data.indexData.box1 %>
            </div>
            <div class="img-box fl">
                <img src="images/index/01.jpg" alt="">
            </div>
        </div>
        <div class="row-level">
            <img src="images/index/02.jpg" alt="">
        </div>
    </div>
</div>