<div class="box2">
    <div class="box-title">
        <img src="images/index/t02.jpg" alt="">
    </div>
    <div class="box-content clearfix">
        <div class="txt-box">
            <%= data.indexData.box2 %>
        </div>
    </div>
</div>