<div class="box1"  align="center">
    <div class="box-title">
        <img src="images/index/t01.jpg" alt="">
    </div>
    <div class="box-content">
        <p><%= data.indexData %></p>
    </div>
</div>