<div class="box1">
    <div class="box-title">
        <img src="images/index/01.png" alt="关于我们">
    </div>
    <div class="box-content clearfix">
        <div class="img-box fl">
            <img src="images/index/<%= data.indexData.box1Data.src %>" alt="东方财富">
        </div>
        <div class="txt-box fl">
            <p><%= data.indexData.box1Data.txt %></p>
        </div>
    </div>
</div>