<% include head.ejs%>
<body>
    <!--topbar-->
    <div class="wrapper">
        <% include ../includes/topbar.ejs %>
    </div>
    <!--banner-->
    <% include ../includes/banner.ejs %>
    <div class="wrapper">
        <% include box1.ejs %>
        <% include box2.ejs %>
        <% include box3.ejs %>
    </div>
    <% include ../includes/footer.ejs %>
</body>