.recruit {
  .box-content {
    .job-box {
      h3 {
        font-weight: bold;
      }
      h4 {
        margin-top: 38px;
        margin-bottom: 10px;
        font-weight: bold;
      }
      p {
        line-height: 24px;
      }
      .img-box {
        margin: 30px 0 65px 0;
      }
    }
  }
}