<!Doctype html>
<html lang="en">
<head>
    <title>瑞丰银行</title>
    <meta charset="UTF-8">
    <meta name="Generator" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta content="瑞行百年,丰泽万家" name="description" />
    <meta name="keywords" content="专业  高效  亲和的服务 为千万家的幸福助力" />
    <meta name="Author" content="">
    <link rel="stylesheet" href="vendor/normalize-css/normalize.css" />
    <link rel="stylesheet" href="styles/<%= data.filename%>.css">
    <% /*jquery.js*/ %>
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="js/bundle.js"></script>
    <script src="vendor/jquery.nicescroll.min.js"></script>
    <!--<script>-->
        <!--$(document).ready(function(){-->
            <!--var scale = $(window).width() / 1366;-->
            <!--$('.banner').height(386*scale);-->
            <!--$('.banner .pic-bg').height(386*scale);-->
            <!--$('.banner').css({-->
                <!--display: 'block'-->
            <!--})-->
        <!--})-->
    <!--</script>-->
</head>


