<% include ../includes/head.ejs %>
<body>
<div class="wrapper">
    <!--topbar-->
    <% include ../includes/topbar.ejs %>
</div>
<% include ../includes/banner.ejs %>

<!--领导团队-->
<% include leader.ejs %>

<% include ../includes/footer.ejs %>
</body>
</html>