<% include ../includes/head.ejs %>
<body>
    <div class="wrapper">
        <!--topbar-->
        <% include ../includes/topbar.ejs %>
    </div>
    <% include ../includes/banner.ejs %>
        <div class="wrapper">
            <% include indResearch.ejs %>
            <!--公司荣誉-->
            <% include honor.ejs %>
        </div>
    <% include ../includes/footer.ejs %>
</body>
</html>
