<div class="honor">
    <div class="top-title" >
        <img src="images/coHonor/02.png" alt="公司荣誉">
    </div>
    <div class="content-box">
        <ul class="clearfix">
            <% for(var i=0; i< data.coHonorData.box2.length; i++){ %>
            <li class="fl">
                <div class="img-box">
                    <div class="table-cell">
                        <img src="images/coHonor/<%= data.coHonorData.box2[i].src%>" alt="">
                    </div>
                </div>
                <div class="txt-box">
                    <p><%= data.coHonorData.box2[i].txt%></p>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>