<div class="box3">
    <div class="toptitle">
        <img src="images/index/03.png" alt="加入我们">
    </div>
    <div class="dreampic">
        <img src="images/index/04.png" alt="梦想起航">
    </div>
</div>