<% include head.ejs %>
<body>
    <div class="wrapper">
        <!--topbar-->
        <% include ../includes/topbar.ejs %>
    </div>
    <% include ../includes/banner.ejs %>
    <div class="pagebox">
        <div class="wrapper">
            <!--关于我们-->
            <% include box1.ejs %>
            <!--团队风采-->
            <% include box2.ejs %>
            <!--加入我们-->
            <% include box3.ejs %>
        </div>
    </div>
    <% include ../includes/footer.ejs %>
</body>
</html>