.topbar {
  .topbar-inner {
    margin: 0 auto;
    height: 86px;
    font-size: 0;
    .logo {
      position: relative;
      height: 100%;
      width: 198px;
      a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 198px;
        height: 50px;
      }
    }
    .nav {
      height: 86px;
      ul li {
        position: relative;
        margin-left: 46px;
        display: inline-block;
        height: 86px;
        font-family: "PingFangSC Regular";
        a {
          text-align: center;
        }
        .cn {
          display: block;
          margin-top: 40px;
          padding: 0 23px;
          font-size: 18px;
          color: #2e302e;
        }
        .en {
          display: block;
          text-transform: uppercase;
          color: #2e302e;
          font-size: 12px;
        }
        .underline {
          display: none;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          //display: block;
          width: 66px;
          height: 3px;
          background-color: #2e302e;
        }
        &.active{
          a {
            color: #37549e;
          }
          .en {
            color: #37549e;
          }
          .underline {
            display: block;
            background-color: #37549e;
          }
        }
      }
    }
  }
}