<!Doctype html>
<html lang="en">
<head>
    <title>元亨祥-成就你的未来</title>
    <meta charset="UTF-8">
    <meta name="Generator" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta content="元亨祥-成就你的未来" name="description" />
    <meta name="keywords" content="招贤纳士" />
    <meta name="Author" content="">
    <link rel="stylesheet" href="vendor/normalize-css/normalize.css" />
    <link rel="stylesheet" href="styles/joinUs.css">
    <% /*jquery.js*/ %>
    <script src="vendor/jquery/jquery.js"></script>
    <script src="js/bundle.js"></script>
</head>
