.pros {
  background-color: #f2f2f2;
  .box-title {
    padding: 55px 0;
  }
  .box-content {
    //border: 1px solid #ccc;
    padding: 0 25px;
    .img-box {
      width: 408px;
      height: 261px;
      margin: 0 0 40px 33px;
    }
  }
}