<div class="box1">
    <div class="box-title">
        <img src="images/index/t01.jpg" alt="">
    </div>
    <div class="box-content clearfix">
        <div class="txt-box fl">
            <p><%= data.indexData %></p>
        </div>
        <div class="img-box fl">
            <img src="images/index/01.jpg" alt="">
        </div>
    </div>
</div>