<div class="customer" align="center">
    <div class="img-box">
        <img src="images/coAdvance/01.png" alt="合作客户">
    </div>
    <div class="content-box">
        <img src="images/coAdvance/bg.jpg" alt="客户">
    </div>
</div>