<div class="logo2" align="center">
    <div class="img-box">
        <img src="images/coAdvance/logo2.png" alt="ebj">
    </div>
    <div class="txt-box">
        <% for(var i=0; i<data.coAdvanceData.length; i++){ %>
        <p><%= data.coAdvanceData[i] %></p>
        <% } %>
    </div>
</div>