<% include head.ejs %>
<body>
    <div class="wrapper">
        <!--topbar-->
        <% include ../includes/topbar.ejs %>
    </div>
    <% include ../includes/banner.ejs %>
    <div class="pagebox">
        <div class="wrapper">
            <!--公司荣誉-->
            <% include honor.ejs %>
        </div>
    </div>
    <% include ../includes/footer.ejs %>
</body>
</html>
