<div class="banner">
    <img src="images/banner.png" class="pic-bg" alt="banner">
    <div class="inner-txt">
        <!--<img src="images/banner-txt.png" class="pic-txt" alt="2017">-->
    </div>
</div>