<div class="banner">
    <img src="images/banner.jpg" class="pic-bg" alt="banner">
    <div class="inner-txt">
        <div class="table-cell">
            <img src="images/banner-txt.png" class="pic-txt" alt="2017">
        </div>
    </div>
</div>